.wrapper {
  color: darkslategray;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 92vh;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.info {
  color: black;
  font-size: 0.7rem;
  padding: 0.6rem;
}

.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  overflow-y: hidden;
}

.inputContainer {
  position: relative;
  width: 50%;
}

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feed {
  width: 75%;
  flex: 1;
  padding: 1.25rem 2rem;
  overflow-y: overlay;
}

.feed::-webkit-scrollbar {
  display: none;
}

.userMessageContainer {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 1rem 0;
}

.msgContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    border-radius: 50%;
  }
  p {
    margin: 0;
  }
}

.userMessage {
  background-color: transparent;
  padding: 0.5rem;
  color: darkslategray;
  width: fit-content;
  border-radius: 10px;
  border: solid 1px #000;
  max-width: 70%;
  min-width: 35px;
}

.botMessageContainer {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.botMessage {
  border: solid 1px black;
  color: darkslategray;
  width: fit-content;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 70%;
  min-width: 35px;
}

.dots {
  text-align: end;
}

.botInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
