.navbarCustom {
  height: 8vh;
  min-height: 40px;
  border-bottom: 1.5px solid gray;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.3rem 0.3rem,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: linear-gradient(to top, #4f709c, #545b77);
  }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 80%;
}

.rightNavBar {
  width: max-content;
  text-align: center;
  flex-grow: 0;
}

.selector {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbarContainer {
  direction: ltr;
}

.logo {
  color: rgb(50, 48, 48);
  font-weight: 550;
  font-size: 1.4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.toggleBtn {
  border: none;
  font-size: 2rem;
  color: transparent;
}

.navLink {
  cursor: pointer;
  color: burlywood;
  margin: 0 1.5rem;
  text-align: center;
  width: max-content;
  text-decoration: none;
  font-weight: 550;
}

.navLink:hover {
  color: maroon;
}

.userIcon {
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 1rem;
  border-radius: 50%;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
