.bgGrey {
  background-color: rgb(255, 255, 255) !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.rightNavBar {
  width: 20%;
}

.selector {
  width: 100%;
  display: flex;
  justify-content: center;
}