.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5%;
  padding-left: 1rem;
  font-family: "Times New Roman", Times, serif;
}

::placeholder {
  color: rgba(47, 79, 79, 0.719);
  font-size: 1.25rem !important;
}

.input:focus {
  border: 2px solid darkcyan;
}

@media screen and (max-width: 460px) {
  ::placeholder {
    font-size: 1rem !important;
  }
}
