.container {
  padding: 12px 15px;
  border-radius: 5px;
  border: 2px solid darkslategray;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.message {
  width: 100%;
  border: none;
  background-color: white;
  font-size: 1.25rem;
  color: darkslategray;
  font-weight: 550;
  resize: none;
}

.message:focus {
  outline: none;
}

::placeholder {
  color: rgba(47, 79, 79, 0.719);
  font-size: 1.5rem;
}

.submit {
  cursor: pointer;
  font-size: 2rem;
  padding: 0 1rem;
}


@media screen and (max-width: 768px){
  .submit {
    padding-right: 0;
    padding-left: 0.5rem;
  }
}