.message {
    width: 100%; 
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 15px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    height: 70px;
    color: #fff;

    box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
    rgba(0,0,0,0.05) 0 -12px 30px,
    rgba(0,0,0,0.05) 0 4px 6px,
    rgba(0,0,0,0.05) 0 12px 3px,
    rgba(0,0,0,0.05) 0 -3px 5px;
}

.message:focus {
    outline: none;
}

::placeholder{
    color: rgba(255,255,255,0.255);
}