.message {
  width: 100%;
  border: none;
  background-color: white;
  padding: 12px 15px;
  border-radius: 5px;
  border: 2px solid darkslategray;
  font-size: 20px;
  height: 70px;
  color: darkslategray;
  font-weight: 550;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

.message:focus {
  outline: none;
}

::placeholder {
  color: rgba(47, 79, 79, 0.719);
}

.submit {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 20px;
}

[dir="ltr"] .submit {
  top: 15px;
  right: 20px;
  left: initial;
}
