@import url("https://fonts.googleapis.com/css2?family=Open+Sans:,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;400&display=swap");
ul {
  padding: 0;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove scrollbar height */
  background: transparent; /* Make scrollbar background transparent */
}
.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease;
  z-index: 1;
  width: 4%;
  min-width: 4rem;
  box-shadow: 0.013rem 0 0.5rem 0 #8690a3;
  align-items: center;
  height: 100%;
  min-height: 90vh;
  background: linear-gradient(to top, #4f709c, #545b77);
  overflow-y: hidden;

  .btn {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }

  .logo-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    align-items: center;
    width: 100%;
    background-color: transparent;

    .logo {
      background-color: transparent;
      text-align: center;
      border-radius: 15%;
      padding: 0.4rem 0.75rem;
      font-size: 1.5rem;
      font-weight: 900;
      cursor: pointer;
      border: none;
      color: lightcyan;
    }

    .logo:hover {
      background-color: white;
      color: #4f709c;
    }

    .logo-text {
      font-size: 1rem;
      font-weight: 700;
      color: lightcyan;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
      border: solid 0.5px lightcyan;
      background-color: transparent;
      border-radius: 5px;
      padding: 5%;
    }

    .logo-text:hover {
      background-color: white;
      color: #4f709c;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: lightcyan;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 15%;
  min-width: 12rem;
  margin-right: 1rem;
}

.sidenav-nav {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 95%;

  .sidenav-nav-item {
    width: 100%;
    margin: 0.4rem 0;
    display: flex;
    justify-content: space-evenly;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      color: lightcyan;
      background-color: transparent;
      text-decoration: none;
      border: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;
      margin-top: 5px;
      width: 100%;

      .sidenav-link-icon {
        font-size: 22px;
        width: 10%;
        padding: 0 0.5rem;
      }

      .sidenav-link-text {
        width: 90%;
        text-align: center;
      }
    }
  }

  .sidenav-nav-item:hover {
    border-radius: 0.625rem;
    width: 97.5%;
    color: #4f709c;
    background-color: white;
    .sidenav-nav-link {
      color: #4f709c;
    }
  }
}

.active {
  background: lightcyan;
  border-radius: 0.625rem;
  width: 97.5% !important;

  .sidenav-link-icon,
  .sidenav-link-text {
    color: black;
  }
}

.buttons {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.buttons .btn {
  border: solid 0.5px lightcyan;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  color: lightcyan;
  cursor: pointer;
  font-size: 1rem;
}

.buttons .btn:hover {
  background-color: white;
  color: #4f709c;
}

.me16px {
  margin-right: 16px;
}

@media screen and (max-width: 991px) {
  .settings {
    display: none;
  }
}
