* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
}

.wrapper {
  width: 28%;
  min-width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(61, 6, 6, 0.8);
  border-radius: 10px;
  padding: 2rem 3rem;
}

.wrapper h1 {
  font-size: 2.6rem;
  font-weight: 550;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #ab2f40;
}

.wrapper .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 0 3rem 0;
}

.wrapper .Forgot {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.Forgot a {
  text-decoration: none;
  color: #6a8db2;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.Forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #344C64;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-style: bold;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.wrapper .registerLink {
  font-size: 1rem;
  text-align: center;
  margin: 1.2rem 0 1rem;
}

.haveAnAccount{
  color: #ab2f40;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

.link {
  margin: 1rem;
  text-decoration: none;
  color: #6a8db2;
  font-family: "Times New Roman", Times, serif;
}

.link:hover {
  text-decoration: underline;
}

.wrapper .btn:hover {
  background-color: #6a8db2;
}