.text-muted {
  color: rgba(47, 79, 79, 0.7) !important;
}
.text-muted {
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #4b535e;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mb-1 {
  font-family: "Times New Roman", Times, serif;
}

.mb-2 {
  font-family: "Times New Roman", Times, serif;
  color: #ab2f40;
}

.lang {
  font-family: "Times New Roman", Times, serif;
  color: #ab2f40;
}

.reqLi {
  font-family: "Times New Roman", Times, serif;
}

.w-57 {
  width: 57%;
}

.custom-input {
  margin: 16px 0;
  p {
    margin: 0;
  }
}

.requirements {
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}

.btn-custom {
  width: 50%;
  height: 45px;
  background: #344c64;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: whitesmoke;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  padding: 0 2rem;
}

.btn-custom:hover {
  background-color: #6a8db2;
}

@media screen and (max-width: 768px) {
  .btn-custom {
    margin-top: 1rem;
    width: 100%;
  }
  .requirements {
    padding-top: 0;
  }
}
