@import "tabulator-tables/dist/css/tabulator.css";
@import "./common/_tabulator.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: max-content;
  min-height: 100vh;
  color: darkslategray;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
