* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.wrapper {
  width: 28%;
  min-width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(61, 6, 6, 0.8);
  border-radius: 10px;
  padding: 2rem 3rem;
}

.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 550;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.wrapper .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 0 3rem 0;
}

.wrapper .btn {
  width: 100%;
  background: darkslategray;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 8%;
}

.wrapper .btn:hover {
  background-color: darkgoldenrod;
  color: darkslategray;
}

.wrapper .loginLink {
  font-size: 1rem;
  text-align: center;
}

.link {
  margin: 1rem;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
